<header class="header-bar">
  <div class="header-items">
    <h2 class="bookers">Bookers</h2>
    <div id="slidemenu">
      <ul class="nav navbar-nav navbar-right" data-hover="dropdown" data-animations="zoomIn fadeIn fadeInUp fadeIn">
        <% if user_signed_in? %>
          <li class="">
            <%= link_to user_path(current_user.id)  do %>
            <span class="glyphicon glyphicon-home" aria-hidden="true">Home</span>
            <% end %>
          </li>
          <li class="">
            <%= link_to users_path do %>
            <span class="glyphicon glyphicon-user" aria-hidden="true">Users</span>
            <% end %>
          </li>
          <li class="">
            <%= link_to books_path do %>
            <span class="glyphicon glyphicon-book" aria-hidden="true">Books</span>
            <% end %>
          </li>
          <li class="">
            <%= link_to destroy_user_session_path, method: :delete  do %>
            <span class="glyphicon glyphicon-log-in" aria-hidden="true">logout</span>
            <% end %>
          </li>

        <% else %>
          <li class="">
            <%= link_to root_path  do %>
            <span class="glyphicon glyphicon-home" aria-hidden="true">Home</span>
            <% end %>
          </li>
          <li class="">
            <%= link_to home_about_path do %>
            <span class="glyphicon glyphicon-link" aria-hidden="true">About</span>
            <% end %>
          </li>
          <li class="">
            <%= link_to new_user_registration_path do %>
            <span class="glyphicon glyphicon-edit" aria-hidden="true">sign up</span>
            <% end %>
          </li>
          <li class="">
            <%= link_to user_session_path do %>
            <span class="glyphicon glyphicon-log-in" aria-hidden="true">login</span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</header>

<% if @book.errors.any? %>
    <div class="alert alert-warning">
      <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-lg-4">

      <% if flash[:notice] %>
        <div class="flash">
        <%= flash[:notice] %>
        </div>
      <% end %>


      <h2>User info</h2>
        <div class="user_info-item1">
          <%= attachment_image_tag user,  :profile_image, :fill, 100, 100, format: 'jpeg' ,fallback: "noimage.jpg" ,size: "100*100" %>
        </div>
        <h3 class="user_info-item2">name:<span class="users2"><%= user.name %></span></h3>
        <h3 class="user_info-item3">introduction<span class="users3"><%= user.introduction %></span></h3>
          <%= link_to edit_user_path(user) do %>
        <button type="button" class="btn btn-default btn-block">
          <span class="glyphicon glyphicon-wrench"></span>
        </button>
        <% end %>



    <h2 class="index-new">New book</h2>

    <%= form_for(book) do |f| %>
      <h4>Title</h4>
      <%= f.text_field :title , class:"book-title" ,size: "50*10" %>
      <h4>Opinion</h4>
      <%= f.text_area :body  , class:"book-body"  , size: "50*10" %>
      <%= f.submit "Create book", class:"btn btn-primary btn-block" %>
    <% end %>
</div>