<header class="header-bar">
  <div class="header-items">
    <h2 class="bookers">Bookers</h2>
    <div id="slidemenu">
      <ul class="nav navbar-nav navbar-right" data-hover="dropdown" data-animations="zoomIn fadeIn fadeInUp fadeIn">
        <% if user_signed_in? %>
          <li class="">
            <%= link_to user_path(current_user.id)  do %>
            <span class="glyphicon glyphicon-home" aria-hidden="true">Home</span>
            <% end %>
          </li>
          <li class="">
            <%= link_to users_path do %>
            <span class="glyphicon glyphicon-user" aria-hidden="true">Users</span>
            <% end %>
          </li>
          <li class="">
            <%= link_to books_path do %>
            <span class="glyphicon glyphicon-book" aria-hidden="true">Books</span>
            <% end %>
          </li>
          <li class="">
            <%= link_to destroy_user_session_path, method: :delete  do %>
            <span class="glyphicon glyphicon-log-in" aria-hidden="true">logout</span>
            <% end %>
          </li>

        <% else %>
          <li class="">
            <%= link_to root_path  do %>
            <span class="glyphicon glyphicon-home" aria-hidden="true">Home</span>
            <% end %>
          </li>
          <li class="">
            <%= link_to home_about_path do %>
            <span class="glyphicon glyphicon-link" aria-hidden="true">About</span>
            <% end %>
          </li>
          <li class="">
            <%= link_to new_user_registration_path do %>
            <span class="glyphicon glyphicon-edit" aria-hidden="true">sign up</span>
            <% end %>
          </li>
          <li class="">
            <%= link_to user_session_path do %>
            <span class="glyphicon glyphicon-log-in" aria-hidden="true">login</span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</header>

<div class="edit-box">
  <h2 class="edit-text">Editing Book</h2>

    <% if @book.errors.any? %>
        <div class="alert alert-warning">
          <ul>
            <p>error</p>
            <% @book.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

  <%= form_for(@book) do |f| %>

    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title, id: :post_title , size: "100*100" %>
    </div>

    <div class="field">
      <%= f.label :opinion %>
      <%= f.text_area :body, id: :post_body , size: "100:100"%>
    </div>

    <div class="actions">
       <%= f.submit "update book", class:"btn btn-primary btn-block" %>
    </div>
  <% end %>
  <%= link_to "Show", book_path(@book.id) ,class:"show_#{@book.id}" %>
  <%= link_to "Back", books_path ,class:"back" %>
  </div>
</div>